#header {margin: 0 0 30px}
.header_top {display: flex;flex-direction: column;justify-content: space-between;align-items: center;padding: 15px 0;border-bottom: solid 2px $color-link;
  @media (min-width: $bp-m) {
    flex-direction: row;justify-content: space-between;align-items: center;
  }
}
.logo {margin: 15px 15px 15px 0;
  @media (min-width: $bp-m) {

  }
}

