.pagination_container {}
.paging {text-align: center;margin: 20px 0;
	a {
		display: inline-block;
		font-size: 14px;
		color: $color-link;
		border: solid 1px $color-border;
		min-height: 30px;
		min-width: 30px;
		line-height: 30px;
		text-align: center;
		padding: 0 5px;
		margin: 0 5px;
		@include border-radius(2px);

		&.active {background: $color-link;color: #fff;border-color: $color-link}
		&:hover {border-color: $color-link}

		&.arrow {background: $color-link;color: #fff;font-weight: bold;border-color: $color-link;
			&.next {
				&:hover {text-indent: 3px}
			}
			&.back {
				&:hover {text-indent: -3px}
			}
			&:hover {background: white;color: $color-link;border-color: $color-link}
		}
	}
}