// Base stuff
@import "base/_normalize";
@import "base/_typography";

// Sass utilities
@import "helpers/_variables";
@import "helpers/_mixins";
@import "helpers/_extends";
@import "helpers/_common";

// Layout related stylesheets
@import "layout/_footer";
@import "layout/_grid";
@import "layout/_header";
@import "layout/_navmain";
@import "layout/_pagination";
@import "layout/_sidebar";

body {
	font-family: $font-base;
	color: $color-text;
	font-weight: $font-regular;
	font-size: 14px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}