@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../../fonts/SourceSansPro/SourceSansPro-Regular.eot');
  src: local('☺'),
    url('../../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
    url('../../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype'),
    url('../../fonts/SourceSansPro/SourceSansPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-SourceSansPro-Regular: 'SourceSansPro-Regular';

$font-base: 'Roboto', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;