@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../../fonts/SourceSansPro/SourceSansPro-Regular.eot");
  src: local("☺"), url("../../fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("../../fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"), url("../../fonts/SourceSansPro/SourceSansPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Placeholders*/
/*Truncate*/
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example: .element { @include responsive-ratio(400, 300); }
*/
.no-padding {
  padding: 0; }

.page_main {
  min-height: 1000px; }

.two_col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .two_col .col_left {
    margin-bottom: 0 !important; }

.col_left {
  width: 40%; }
  @media (min-width: 576px) {
    .col_left {
      width: 40%; } }

.col_right {
  flex: 1;
  padding: 0 0 0 15px; }
  @media (min-width: 576px) {
    .col_right {
      width: 50%; } }

figure {
  margin: 0; }

a {
  color: #0084ff;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

hr.line {
  height: 1px;
  border: 0 none;
  border-bottom: solid 1px #e8e8e8;
  margin: 10px 0;
  clear: both;
  width: 100%; }

#header {
  margin: 0 0 30px; }

.header_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: solid 2px #0084ff; }
  @media (min-width: 768px) {
    .header_top {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }

.logo {
  margin: 15px 15px 15px 0; }

.paging {
  text-align: center;
  margin: 20px 0; }
  .paging a {
    display: inline-block;
    font-size: 14px;
    color: #0084ff;
    border: solid 1px #e8e8e8;
    min-height: 30px;
    min-width: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 5px;
    margin: 0 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    .paging a.active {
      background: #0084ff;
      color: #fff;
      border-color: #0084ff; }
    .paging a:hover {
      border-color: #0084ff; }
    .paging a.arrow {
      background: #0084ff;
      color: #fff;
      font-weight: bold;
      border-color: #0084ff; }
      .paging a.arrow.next:hover {
        text-indent: 3px; }
      .paging a.arrow.back:hover {
        text-indent: -3px; }
      .paging a.arrow:hover {
        background: white;
        color: #0084ff;
        border-color: #0084ff; }

#sidebar {
  margin-top: 50px; }

.page-personalize {
  background-color: #fff;
  margin: 30px 0 90px; }
  .page-personalize .personalize_item {
    padding: 10px 0;
    border-bottom: solid 1px #e8e8e8; }
  .page-personalize .personalize_item_label {
    color: #161616;
    font-size: 12px; }
  .page-personalize .personalize_item_name {
    margin: 0;
    color: #888; }
  .page-personalize .zone-update {
    border-top: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff; }
    .page-personalize .zone-update .btn-update {
      height: 50px;
      background: #0084ff;
      border-color: #0084ff;
      color: #fff;
      width: 100%; }

.page-advertise .advertise-items {
  border-bottom: solid 1px #e8e8e8; }

.page-advertise .advertise-item_row {
  padding: 15px 0; }

.page-advertise .advertise-item_title {
  font-size: 16px;
  margin-bottom: 10px; }

.page-advertise .advertise-item_des {
  margin-bottom: 10px;
  font-size: 12px; }

.page-advertise .advertise-item_thumb img {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

body {
  font-family: "Roboto", sans-serif;
  color: #161616;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }
