//Global
figure {margin: 0}

a {color: $color-link;
  -webkit-font-smoothing: antialiased;
  @include transition(all .3s ease);
  &:hover {
    text-decoration: none;
  }
}

img {max-width: 100%}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

hr.line {
	height: 1px;
	border: 0 none;
	border-bottom: solid 1px #e8e8e8;
	margin: 10px 0;
	clear: both;
	width: 100%;
}