// Contain floats / clearfix
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


%title-s {
  font-size: $font-size-m;
  font-weight: $font-bold;
  line-height: 1.2
}

%title-m {
  font-size: $font-size-b;
  font-weight: $font-bold;
  line-height: 1.2
}

//Input text
%input-text {
  border: none;
  background: transparent;
  font-size: $font-size-s;
  outline: none;
  color: $color-input;
  padding: 7px;
}

%reset-input {
  border: none;
  background: transparent;
  font-size: $font-size-s;
  outline: none;
  color: $color-input;
  padding: 7px;
}

.no-padding {
  padding: 0
}

//Reset Ul Li
%reset-lst {
  list-style: none;
  margin: 0;
  padding: 0
}

//Main page
.page_main {
  min-height: 1000px
}

//Post 2 col
.two_col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .col_left {
    margin-bottom: 0 !important;
  }
}

.col_left {
  width: 40%;
  @media (min-width: 576px) {
    width: 40%;
  }
}

.col_right {
  flex: 1;
  padding: 0 0 0 15px;
  @media (min-width: 576px) {
    width: 50%;
  }
}

//Button Hover
%button {
  @include transition(all .5s ease-in-out);
  position: relative;
  display: block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: $color-base;
    @include transition(all .3s ease-in-out);
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    @include transition(all .3s ease-in-out);
    border: 1px solid $color-base;
  }
  &:hover {
    color: $color-base;
    &:before {
      opacity: 0;
      @include transform(scale(0.5));
    }
    &:after {
      opacity: 1;
      @include transform(scale(1));
    }
  }
}

//Image Hover
%image-hover {
  @include transition(all 0.3s ease-in-out);
  @include transform(scale(1));
  &:hover {
    @include transform(scale(1.2));
  }
}

//Parallax
%parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
