//Color
$color-base: #161616;
$color-link: #0084ff;
$color-orange: #ff6633;
$color-blue: #0084ff;
$color-title: #161616;
$color-text: #161616;
$color-border: #e8e8e8;
$color-meta: #c8c8c8;
$color-input: #acacac;
$color-background: #fafafa;
$color-white: #fff;

//Fonts-size
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-b: 20px;
$font-size-bb: 30px;

//Url base
//url(#{$url-img}/site/background.jpg)
$url-img: "../images";

//Breakpoint
$bp-xs: 425px;
$bp-s: 540px;
$bp-mobile: 540px;

$bp-m: 768px;
$bp-tablet: 768px;
$bp-l: 992px;
$bp-laptop: 992px;
$bp-xl: 1200px;